{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}


<!--
			
									
					
-->

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/ThumbFF.jpg" height="400" width="400">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/Joey_001.2FF.jpg" height="400" width="283">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/Joey_003v2 copy.2FF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/Joey_004v2.2FF.jpg" height="400" width="283">
		</span>

	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/Joey_006.2FF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Joey/Joey_007.2FF.jpg" height="400" width="283">
		</span>
	</div>
</div>


{% endblock %}