{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}


<!--

]Leonard_001.jpg		Leonard_002v2.jpg	Leonard_003.jpg

-->

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Lenny/Leonard_003.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Lenny/Leonard_002v2.jpg" height="400" width="283">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Lenny/Leonard_001.jpg" height="428" width="650">
		</span>
	</div>
</div>


{% endblock %}