{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}


<!--IMG_9232 copy.2.jpg	IMG_9409 copy.2.jpg	thumb.jpg-->

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Robert/thumb.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Robert/IMG_9409 copy.2.jpg" height="400" width="283">
		</span>
	</div>
</div>


{% endblock %}