{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}


<!-- 1.2.jpg		2.2.jpg		3.2.jpg		4.2.jpg		5.2.jpg		6.jpg -->

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/1.2.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/2.2.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/3.2.jpg" height="400" width="283">
		</span>	
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/4.2.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/5.2.jpg" height="400" width="283">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-One/6.jpg" height="400" width="625">
		</span>	
	</div>

</div>


{% endblock %}