{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}


<!--
					


-->

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/thumb.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_7269 copyFF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_7028 copyweb.2FF.jpg" height="400" width="283">
		</span>

	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_6764 copyFF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_6857 copyFF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_6955 copy2FF.jpg" height="400" width="283">
		</span>

	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_6896 copyV2FF.jpg" height="400" width="283">
		</span>
		<span class='portfolio-thumbnail'>
		<img src="/media/images/Rustam-Two/IMG_7349 copyFF.jpg" height="400" width="283">
		</span>
	</div>
</div>


{% endblock %}