html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit;}
/* remember to define focus styles! */
:focus {outline: 0;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}


body, html{
	/* height: 100%; */
	background: white;
	color:#484848;
	font-family:Helvetica;
	font-size:0.95em;
	font-weight:normal;
	line-height: 1;
	overflow-x:hidden;
	text-align:left;
}


.main-nav {
	margin-top:100px;
	margin-left:200px;
}

.name-heading {
	font-size:40px;
}

.navigation {
	font-size:20px;
}

.portfolio-wrapper {
	margin-top:20px;
	margin-left:200px;	
}

.portfolio-thumbnail {
	margin-left:10px;	
	
}

.portfolio-row {
	margin-top:10px;
}

.portfolio-row-landing {
	margin-top:20px;
}

.portfolio-thumbnail-landing {
	margin-left:20px;	
	
}