{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}

<div class='portfolio-wrapper'>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
	</div>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
		<span class='portfolio-thumbnail' style="margin-left:20px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150">
		</span>
	</div>
</div>


{% endblock %}