{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row' style="margin-top:50px">
		<span class='portfolio-thumbnail'>
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/rustan-1/thumb.jpg" height="400" width="283" onclick='location.href="{% url portfolio-one %}"'>
		</span>
		<span class='portfolio-thumbnail' style="margin-left:60px">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/robert/thumb.jpg" height="400" width="267" onclick='location.href="{% url portfolio-two %}"'>
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:60px">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/rustan-2/thumb.jpg" height="400" width="267" onclick='location.href="{% url portfolio-three %}"'>
		</span>
	</div>
	<div class='portfolio-row' style="margin-top:60px;margin-top:10px">
		<span class='portfolio-thumbnail' style="margin-left:60px">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/rustan-3/Thumb.jpg" height="400" width="267" onclick='location.href="{% url portfolio-three %}"'>
		</span>
		<span class='portfolio-thumbnail' style="margin-left:100px;">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/joey/ThumbFF.jpg" height="400" width="400" onclick='location.href="{% url portfolio-three %}"'>
		</span>

	</div>
	
	<div class='portfolio-row' style="margin-top:40px;margin-top:10px">
		<span class='portfolio-thumbnail' style="margin-left:140px;">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/leonard/ThumbFF.jpg" height="428" width="650" onclick='location.href="{% url portfolio-three %}"'>
		</span>

	</div>
</div>


{% endblock %}