{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}

<div class='portfolio-wrapper'>
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150" onclick='location.href="{% url portfolio-one %}"'>
		</span>
		<span class='portfolio-thumbnail' style="margin-left:60px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150" onclick='location.href="{% url portfolio-two %}"'>
		</span>	
		<span class='portfolio-thumbnail' style="margin-left:40px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150" onclick='location.href="{% url portfolio-three %}"'>
		</span>
		<span class='portfolio-thumbnail' style="margin-left:40px">
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150" onclick='location.href="{% url portfolio-four %}"'>
		</span>
	</div>
	<div class='portfolio-row' style="margin-top:40px">
		<span class='portfolio-thumbnail'>
		<img src="{{MEDIA_URL}}images/image_1.jpg" height="100" width="150" onclick='location.href="{% url portfolio-five %}"'>
		</span>
	</div>
</div>


{% endblock %}