{% extends "base.html" %}

{% block content %} 

{% include "misc/nav.html" %}

<div class='portfolio-wrapper' style="margin-bottom:140px">
	<div class='portfolio-row'>
		<span class='portfolio-thumbnail'>
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/videos/Thum1.jpg" height="248" width="400" onclick='location.href="http://vimeo.com/77743975"'>
		</span>
		<span class='portfolio-thumbnail' style="margin-left:60px;margin-top:260px;">
		<img src="https://s3.amazonaws.com/ranaldolopezphotography/videos/Thumb2.jpg" height="298" width="400" onclick='location.href="http://vimeo.com/77756152"'>
		</span>	
	</div>
</div>



{% endblock %}